.main-nav {

}

.main-nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 700px;
}

.main-nav__item {
  color: $clr_white;
  font-family: $fnt_OpenSans;
  font-size: 18px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: inline-block;
  color: $clr_white;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.5s ease;

  &:hover,
  &:focus {
    background-color: $clr_red;
  }
}
