.subscribe {
  background-color: $clr_gray;
  background-image: url('../img/bg-subscribe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__container {
  margin: 0 auto;
  padding: 73px 0px 79px 0px;
  width: 1170px;
}
